<%= javascript_importmap_tags('index.js') %>
<%= stylesheet_link_tag('ind') %>
<div class="container">
     
    <div class="text">
        <h1 align="left">CVmaker Online Resume<br> 
        Builder.<br>
        Create a Professional <br>
        Resume for Free.</h1>
        <p align="left">Free to use. Developed by hiring professionals.<br>

        Resume writing can be stressful, confusing, and time-<br>
        consuming if you do it all on your own. With our Resume <br>
        Maker, it’s quick, pain-free, and effective.</p>
        <h4 align="left">
        <button class="favorite styled" type="button" 
                    onclick="window.location.href = "">CREATE YOUR RESUME NOW
        </button><br><br></h4>
    </div>
    <div align="right">
        <%= link_to image_tag('tools.png')%>
    </div> 
</div>

<h1>Just four simple steps to download your resume:</h1><br>

<%# <div class="container">
    <div class="steps--container--images">
        <div class= "steps--container--description">
            <div class="image"><img  src='https://cdn-images.zety.com/images/zety/landings/templates/step_1@1x.png'/><br></div>
            <h6 class="steps_description steps_description1">Pick a template.</h6>
            <div class="image"><img  src='https://cdn-images.zety.com/images/zety/landings/templates/step_2@1x.png'/><br></div>
            <h6 class="steps_description steps_description1">Make your resume in our app.</h6>
            <div class="image"><img  src='https://cdn-images.zety.com/images/zety/landings/templates/step_3@1x.png'/><br></div>
            <h6 class="steps_description steps_description1">Customize the design.</h6>
            <div class="image"><img  src='https://cdn-images.zety.com/images/zety/landings/templates/step_4@1x.png'/><br></div>
            <h6 class="steps_description steps_description1">Download in DOC or PDF.</h6> 
        </div>
    </div>
</div> %>
<div class="row">
    <div class="column">
        <img  src='https://cdn-images.zety.com/images/zety/landings/templates/step_1@1x.png'/><br>
    </div>
    <div class="column">
        <img  src='https://cdn-images.zety.com/images/zety/landings/templates/step_2@1x.png'/><br> 
    </div>
    <div class="column">
        <img  src='https://cdn-images.zety.com/images/zety/landings/templates/step_3@1x.png'/><br>
    </div>
    <div class="column">
        <img  src='https://cdn-images.zety.com/images/zety/landings/templates/step_4@1x.png'/><br>
    </div>
</div>
<h4 align="center">
        <button class="favorite styled" type="button" 
                    onclick="window.location.href = "">CREATE MY RESUME 
        </button><br><br></h4>
<h1>Build a resume online. Start by picking a template:</h1>
<div >
  <div align="center">
    <button class="btn btn-info unpressed" type="button", onclick="<%= %> " style="width:15%">Use this template</button>
  </div>
</div>
<script>
  $('#button_id').on('click', function(){
    your event goes here
  });</script>
  <p align="center">We’ve developed our resume builder with one goal in mind: to help you find a great job faster. 
  Our resume maker <br>comes with ATS-optimized layouts and a wizard that guides you through every step of the process.<br>

Plus, you'll get ready-to-use AI-generated suggestions for every section of your resume, personalized to match your <br>desired position. 
Don’t feel like writing? Just drag and drop the content that suits you and let our resume editor do <br>the rest.<br>

Have a hard time choosing which style is right for you? <h6 style="blue">Check out all our resume templates here</h6>, and read more<br> about their advantages. 
Looking to make a CV instead? Try our easy-to-use <>CV Builder that comes with <h6 style="blue">professional</h6><br><h6 style="color:blue">CV templates.</h6></p>