<div class="d-flex align-items-center justify-content-center">
    <div><h1>Professional Resume tools For Any Job</h1></div>
</div>
<div class="d-flex align-items-center justify-content-center">
    <%=  button_to("Create your Resume", { action: "index" , :timezone=>'west'}, class: "btn btn-primary")  %>
</div>