<%= stylesheet_link_tag('index2') %>
<h2 class="text-center">About us</h2>
<h4 class="text-center">CVmaker is a career site fueled by some of the best<br> 
career experts and a community readers.</h4>
<%# <div class="image" background-image= "https://pixabay.com/photos/tree-sunset-clouds-sky-silhouette-736885/" ></div> %>
<%= link_to image_tag('ima.jpg')%>

<h3>CVmaker is your ultimate career toolbox.</h3><br>
<h5>Use it to fix your career.</h3>
<h5>
We offer you the best online resume builder and free professional advice from career experts.<br>
We’ll guide you through the entire recruitment process all the way to your dream job.</h5>
<%= image_tag('about.jpg')%>

<div>
    Since 2016, CVmaker has helped millions of job seekers worldwide find employment.
    With a rapidly growing community of more than 40 million readers a year,
    CVmaker is arguably the world’s fastest growing career advice website.

    Each day, we help thousands of people write resumes and cover letters, and improve 
    their chances of landing a job.

    CVmaker is powered by a team of 10 career experts featured in Forbes, the Financial Times, CareerBuilder, and
    Glassdoor, among others.
</div>
<b><h5>We’re building the largest and best career site<br>
in the world to help you find the job you hope<br>
for.
</h5><b>