.container
{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.image
{
    display: inline-block;
    margin-right:5px;
    border:1px solid #ccc;
}

.column 
{
float: left;
width: 21.5%;
padding: 20px;
}


.row::after 
{
content: "";
clear: both;
display: table;
}